{% extends "web/base.html" %}
{% load static %}
{% block content %}


        
        <!-- page-title -->
        <div class="page-title" style="background-image: url(images/section/page-title.jpg);">
            <div class="container-full">
                <div class="row">
                    <div class="col-12">
                        <h3 class="heading text-center">#{{tag.name}}</h3>
                        <ul class="breadcrumbs d-flex align-items-center justify-content-center">
                            <li>
                                <a class="link" href="{% url 'web:index' %}">Homepage</a>
                            </li>
                            <li>
                                <i class="icon-arrRight"></i>
                            </li>
                            <li>
                               # {{tag.name}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- /page-title -->

                    
                    <div class="tf-grid-layout wrapper-shop tf-col-4" id="gridLayout">
                        <!-- card product  -->

                                                       {% for p in products %}
                                <!-- card product  -->
                                <div class="card-product wow fadeInUp">
                                    <div class="card-product-wrapper">

                                        <div style="
                                                position:absolute;
                                                top:10px;
                                                left:10px;
                                                background:#ff3b30;
                                                color:#fff;
                                                padding:5px 10px;
                                                font-size:13px;
                                                font-weight:bold;
                                                border-radius:4px;
                                                z-index:10;
                                            ">
                                                -{{ p.get_percentage | floatformat:0 }}% OFF
                                            </div>

                                        
                                        <a href="{%url 'web:product-detail' p.pid%}" class="product-img">
                                            <img class="lazyload img-product" data-src="images/products/womens/women-19.jpg" src="{{p.image.url}}" alt="image-product">
                                            <img class="lazyload img-hover" data-src="images/products/womens/women-20.jpg" src="{{p.image.url}}" alt="image-product">
                                        </a>
                                        <div class="list-product-btn">
                                            <a href="javascript:void(0);" class="box-icon wishlist btn-icon-action">
                                                <span class="icon icon-heart"></span>
                                                <span class="tooltip">Wishlist</span>
                                            </a>
                                            
                                            <a href="#quickView" data-bs-toggle="modal" class="box-icon quickview tf-btn-loading">
                                                <span class="icon icon-eye"></span>
                                                <span class="tooltip">Quick View</span>
                                            </a>
                                        </div>
                                        <div class="list-btn-main">
                                            <a href="#shoppingCart" data-bs-toggle="modal" class="btn-main-product">Add To cart</a>
                                        </div> 
                                    </div>
                                    
                                    <div class="card-product-info">
                                        <a href="product-detail.html" class="title link">{{p.title}}</a>
                                        <div>
                                        <span class ="font-small text-muted">By <a href="">{{p.vendor.title}}</a></span>
                                    </div>
                                        <span style="font-size:16px; font-weight:bold; margin-right:8px;">
                                            ₹ {{p.price}}
                                        </span>

                                        <span style="font-size:14px; color:#777; text-decoration:line-through;">
                                            ₹ {{p.old_price}}
                                        </span>

                                    
                                    </div>
                                </div>
                                {% endfor %}
                       
                        <!-- pagination -->
                        <ul class="wg-pagination justify-content-center">
                            <li><a href="#" class="pagination-item text-button">1</a></li>
                            <li class="active"><div class="pagination-item text-button">2</div></li>
                            <li><a href="#" class="pagination-item text-button">3</a></li>
                            <li><a href="#" class="pagination-item text-button"><i class="icon-arrRight"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- /Section product -->
        <!-- tf-has-purchased -->
        <div class="tf-has-purchased d-none d-lg-block">
            <i class="icon icon-close tf-has-purchased-close"></i>
            <div class="tf-has-purchased-product">
                <div class="image">
                    <img class="lazyload" data-src="images/products/womens/women-3.jpg" alt="" src="{% static 'images/products/womens/women-3.jpg' %}">
                </div>
                <div class="content flex-grow-1">
                    <p class="text-caption-1 mb_4">John Smith has purchased!</p>
                    <a class="link text-title mb_12" href="product-detail.html">Ribbed cotton-blend top</a>
                    <div class="d-flex align-items-center justify-content-between w-100">
                        <div class="d-flex align-items-center gap-4">
                            <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_15839_21584)">
                                <path d="M6 11C8.76142 11 11 8.76142 11 6C11 3.23858 8.76142 1 6 1C3.23858 1 1 3.23858 1 6C1 8.76142 3.23858 11 6 11Z" stroke="#A0A0A0" stroke-width="0.8" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M6 3V6L8 7" stroke="#A0A0A0" stroke-width="0.8" stroke-linecap="round" stroke-linejoin="round"/>
                                </g>
                                <defs>
                                <clipPath id="clip0_15839_21584">
                                <rect width="12" height="12" fill="white"/>
                                </clipPath>
                                </defs>
                            </svg>
                            <p class="text-caption-1 text-secondary-2">12 mins ago</p>
                        </div>
                        <a href="product-detail.html" class="text-caption-1 fw-6 line-under link">View Products</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /tf-has-purchased -->
       
  {% endblock content%}